body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(0, 0, 0);
    font-family: 'Arial', sans-serif;
}

.game-container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #fff;
    /* border: 2px solid slategray; */
    font-size: 3rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #eaeaea;
    border-radius: 12px;
    transition: all ease 0.4s;
}

.endgame {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.endgame .text {
    font-size: 2rem;
    margin-bottom: 20px;
}

.endgame button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.endgame button:hover {
    background-color: #45a049;
}